html {
  background-color: #1f2937;
}

#root {
  max-width: 1280px;
}

/* Scrollbar container */
::-webkit-scrollbar {
  width: 12px; /* Adjust the width of the scrollbar */
}

/* Scrollbar thumb */
::-webkit-scrollbar-thumb {
  background-color: #4b5563; /* Dark shade for the thumb */
  border-radius: 6px; /* Rounded corners for the thumb */
  border: 3px solid #1f2937; /* Creates a border around the thumb with the main background color */
}

/* Scrollbar track */
::-webkit-scrollbar-track {
  background: #1f2937; /* Lighter shade for the track */
  border-radius: 6px; /* Consistency in rounded corners */
}

/* Scrollbar corner */
::-webkit-scrollbar-corner {
  background-color: #1f2937; /* Matches the track's background color */
}

::-webkit-scrollbar-button{
  display: none;
}

.user-chat{
  max-width: 75%;
}
.ai-reply {
  max-width: 75%;
}
